<!DOCTYPE html>
<html lang="es">
    <%- include("../partials/head") %>  
<body class="editProduct">
    <%- include("../partials/header") %> 
    <main class="addProduct__main">
        <section class="form__container">
            <h1>Editar</h1>
            <form action="">
                <div class="form__l--container">
                    <div>
                        <label for="name">Nombre del producto</label>
                        <select name="name" type="text" id="name" placeholder="Agregue un nombre">
                            <option value="" hidden selected>Seleccione un producto</option>
                            <option value=""></option>
                        </select>
                    </div>
                    <div>
                        <label for="categorie">Categoria</label>
                        <select name="categorie" type="text" id="categorie">
                            <option value="" hidden selected>Seleccione...</option>
                            <option value="detetica">Dietética</option>
                            <option value="veggie">Veggie</option>
                            <option value="snacks">Snacks</option>
                            <option value="suplementos">Suplementos</option>
                            <option value="varios">Varios</option>
                        </select>
                    </div>
                    <div>
                        <label for="price">Precio</label>
                        <input name="price" type="text" id="price" placeholder="Agregue un precio">
                    </div>
                </div>
                <div class="form__r--container">
                    <div>
                        <label for="image">Imagen</label>
                        <input name="image" type="file" id="image" placeholder="Agregue una imagen">
                    </div>
                    <div>
                        <label for="description">Descripción</label>
                        <textarea name="descripción" type="text" id="description" placeholder="Agregue una descripción" cols="50"></textarea>
                    </div>
                </div>
                <div class="actionButtons__container">
                    <a href="/users/adminProfile"><p class="cancelar__button">Cancelar</p></a>
                    <a href="/"><button class="enviar__button">Terminar</button> </a>
                </div>
            </form>
        </section>
    </main>
    <%- include("../partials/footer") %> 
</body>
</html>