<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GreenFood|Carrito</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/1d9f245b0c.js" crossorigin="anonymous"></script>
    <link
        href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
</head>
<body class="carro">
    <Header>
        <div class="greenbar__container">
            <p>Bienvenido al mundo saludable</p>
            <p>Envios gratis desde $6000</p>
            <p>Ofertas todos los días</p>
        </div>
        <div class="navbar__container">
            <i class="fa-solid fa-magnifying-glass"></i>
            <div class="header__tittle__container">
                <a href="/">
                    <div class="header__tittle">
                        <h1 class="white__word">Green</h1>
                        <h1 class="green__word">Food</h1>
                    </div>
                    <div class="header__subtittle">
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                </a>
            </div>
            <button class="header__burgerbutton">
                <i class="fa-solid fa-bars"></i>
                <ul class="header__menu">
                    <a href="/carrito">
                        <li><i class="fa-solid fa-cart-shopping"></i></li>
                    </a>
                    <a href="/login">
                        <li>Login</li>
                    </a>
                    <a href="/registrar">
                        <li>Register</li>
                    </a>
                </ul>
            </button>
        </div>
        <div class="navbar__container--1024">
            <div class="navbar__busqueda">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text">
            </div>
            <div class="header__tittle__container">
                <a href="/">
                    <div class="header__tittle">
                        <h1 class="white__word">Green</h1>
                        <h1 class="green__word">Food</h1>
                    </div>
                    <div class="header__subtittle">
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                </a>
            </div>
            <ul class="navbar__loginregister">
                <li><a href="/login">Login</a></li>
                <li><a href="/registrar">Register</a></li>
            </ul>
            <a class="navbar__carrito" href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
        <div class="header__categories__container">
            <span class="header__categories">Inicio</span>
            <span class="header__categories">Dietética</span>
            <span class="header__categories">Veggie</span>
            <span class="header__categories">Snacks</span>
            <span class="header__categories">Suplementos</span>
            <span class="header__categories">Varios</span>
        </div>
    </Header>
    <main>
        <section>
            <article>
                <div>
                    <i class="fa-solid fa-cart-shopping"></i>
                    <p>Su Carrito</p>
                </div>
            </article>
            <article>
                <button>
                    Ordenar Por <i class="fa-solid fa-sort-down"></i>
                </button>
            </article>
            <article class="product">
                <div>
                    <img src="/img/pan-integral-768x480.jpg" alt="">
                    <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, magnam?</h5>
                    <div class="price">
                        <button class="suma">Sumar Al Carrito</button>
                        <button class="canti">-&nbsp;&nbsp;&nbsp;&nbsp; Cantidad &nbsp;&nbsp;&nbsp;&nbsp;+</button>
                        <h4>0000$</h4>
                        <i class="fa-solid fa-trash-can"></i>
                    </div>
                </div>
            </article>
            <article>
                <div>
                    <button class="sumar">Sumar Al Carrito</button>
                    <button class="cantidad">-&nbsp;&nbsp;&nbsp;&nbsp; Cantidad &nbsp;&nbsp;&nbsp;&nbsp;+</button>
                </div>
            </article>
            <article class="d">
                <div class="calc">
                    <div class="total">
                        <div class="total--precio">
                            <p>TOTAL</p>
                            <p>$$$$</p>
                        </div>
                        <button class="fin">Finalizar Compra</button>
                        <button class="con">Continuar Comprando</button>
                    </div>
                </div>
                <div class="cards__container">
                    <div class="cards">
                        <img src="/img/footer/Visa-DebitCard.png" alt="visa_card">
                        <img src="/img/footer/MasterCard-DebitCard.png" alt="mastercard_card">
                        <img src="/img/footer/American-Express-Card.png" alt="americanexpress_card">
                        <img src="/img/footer/Paypal.png" alt="paypal_card">
                        <img src="/img/footer/MercadoPago-DebitCard.png" alt="mercadopago_card">
                    </div>
                    <div class="truck"><i class="fa-solid fa-truck-fast"></i>
                        <p class="envi"><i class="fa-solid fa-star"></i>Envios a Todo el Pais<i
                                class="fa-solid fa-star"></i></p>
                    </div>
                </div>
            </article>
        </section>
        <hr>
        <section class="home__recomendados__container home__productos__container">
            <h1 class="productos__tittles">
                <span class="white__word">Productos</span>
                <span class="green__word">Preferidos</span>
            </h1>
            <hr>
            <div class="productos__recomendados__container">
                <div class="recomendado__container">
                    <img src="/img/producto3.jpg" alt="producto">
                    <h3 class="recomendado__nombre">Lorem.</h3>
                    <div class="producto recomendado1">
                        <h3 class="recomendado__estrellas">
                            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-solid fa-star"></i>
                        </h3>
                        <h3 class="producto__precio">$XXXX</h3>
                    </div>
                </div>
                <div class="recomendado__container">
                    <img src="/img/producto2.jpg" alt="producto">
                    <h3 class="recomendado__nombre">Lorem2.</h3>
                    <div class="producto recomendado2">
                        <h3 class="recomendado__estrellas">
                            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-solid fa-star"></i>
                        </h3>
                        <h3 class="producto__precio">$XXXX</h3>
                    </div>
                </div>
                <div class="recomendado__container">
                    <img height="140" src="/img/producto1.webp" alt="producto">

                    <h3 class="recomendado__nombre">Lorem3.</h3>
                    <div class="producto recomendado3">
                        <h3 class="recomendado__estrellas">
                            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-solid fa-star"></i>
                        </h3>
                        <h3 class="producto__precio">$XXXX</h3>
                    </div>
                </div>
                <div class="recomendado__container">
                    <img src="/img/pan-integral-768x480.jpg" alt="producto">


                    <h3 class="recomendado__nombre">Lorem4.</h3>
                    <div class="producto recomendado3">
                        <h3 class="recomendado__estrellas">
                            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-solid fa-star"></i>
                        </h3>
                        <h3 class="producto__precio">$XXXX</h3>
                    </div>
                </div>
            </div>

        </section>

    </main>
    <Footer>
        <div class="suscribe__container">
            <h2 class="suscribe__tittle">Suscribete y recibe ofertas exclusivas</h2>
            <input type="text" name="suscription" placeholder="Ingresa tu Email">
        </div>
        <div class="consultas__container">
            <div>
                <h3>Servicio al cliente</h3>
                <p>Preguntas Frecuentes</p>
                <p>Estado de la compra</p>
                <p>Información de envíos</p>
            </div>
            <div>
                <h3>Recursos</h3>
                <p>Promociones y Ofertas</p>
            </div>
            <div>
                <h3>Empresa</h3>
                <p>Sobre Nosotros</p>
                <p>Términos de Privacidad</p>
            </div>
            <div>
                <h3>Seguinos</h3>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href="https://www.facebook.com/profile.php?id=100083228144123"><i
                        class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-twitter"></i></a>
            </div>
        </div>
        <div class="paymethods__container">
            <h3>Medios de pago</h3>
            <div class="cards__container">
                <img src="/img/footer/Visa-DebitCard.png" alt="visa_card">
                <img src="/img/footer/MasterCard-DebitCard.png" alt="mastercard_card">
                <img src="/img/footer/American-Express-Card.png" alt="americanexpress_card">
                <img src="/img/footer/Paypal.png" alt="paypal_card">
                <img src="/img/footer/MercadoPago-DebitCard.png" alt="mercadopago_card">
            </div>
        </div>
        <div class="copyright__container">
            <h5>2022 Green Food S.A. Todos los derechos reservados</h5>
        </div>
    </Footer>
</body>

</html>