<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GreenFood|Carrito</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/1d9f245b0c.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

</head>
<header>

</header>
<body class="carro">
    <main>
        <section>
            <article>
                <div>
                    <i class="fa-solid fa-cart-shopping"></i>
                    <p>Su Carrito</p>
                </div>
            </article>
            <article>
                <button>
                    Ordenar Por <i class="fa-solid fa-sort-down"></i>
                </button>
            </article>
            <article class="product">
                <div>
                    <img width=130 src="/img/pan-integral-768x480.jpg" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, magnam?</p>
                    <div class="price">
                        <h5>0000 $</h5>
                        <i  class="fa-solid fa-trash-can"></i>
                    </div>
                </div>
            </article>
            <article>
                <div>
                    <button class="sumar">Sumar Al Carrito</button>
                    <button class="cantidad">-&nbsp;&nbsp;&nbsp;&nbsp; Cantidad &nbsp;&nbsp;&nbsp;&nbsp;+</button>
                </div>
            </article>
            <article class="calc">
                <div class="total">
                    <p>TOTAL &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 0000 $</p>
                    <button class="fin">Finalizar Compra</button>
                    <button class="con">Continuar Comprando</button>
               </div>
            </article>
        </section>
    </main>
    <footer>
        
    </footer>
    
    
</body>
</html>