<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GreenFood|Carrito</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/1d9f245b0c.js" crossorigin="anonymous"></script>
</head>
<header>

</header>
<body class="carro">
    <main>
        <section>
            <article>
                <div>
                    <i class="fa-solid fa-cart-shopping"></i>
                    <p>Tu Carrito Esta Vacio</p>
                </div>
            </article>
            <article>
                <button>
                    Ordenar Por <i class="fa-solid fa-sort-down"></i>
                </button>
            </article>
            <article class="product">
                <div>
                    <img width=130 src="/img/pan-integral-768x480.jpg" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, magnam?</p>
                  
                        <h5>precio</h5>
                    
                    
                        <i  class="fa-solid fa-trash-can"></i>
                   
                        
                    
                
                    
                
                
                </div>
                
                
            </article>
            <article>
                <p></p>
                <p></p>
            </article>
                
                

            </article>
        </section>
    </main>
    <footer>
        
    </footer>
    
    
</body>
</html>