<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GreenFood|DetalleProducto</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
</head>

<body class="body">
    <h1>inicio/producto/detalle</h1>
    <div class="body__img">
        <img width="150px" src="/images/pan-integral-768x480.jpg" alt="imagen producto">
    </div>
    <h3 class="body__h3detalle">detalle de producto</h3>
    <h3>$1.000</h3>
    <h5>12 cuotas de $100</h5>
    <div class="body__agregar">
        <div class="body__cantidad">
            <button>-</button>
            <span>value</span>
            <button>+</button>
        </div>
        <div class="body__carrito">
            <button class="body__carrito__button">Agregar al carrito</button>
        </div>
    </div>

    <h5>envios gratis desde $6.000</h5>
    <div class="body__consulta">
        <form action=""></form>
        <button>consulta</button>
        <p>no se cual es mi codigo</p>
    </div>
    <div class="body__comprar">
        <button class="body__comprar__button">comprar</button>
    </div>

</body>

</html>