<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GreenFood|Home</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/98ce542dfa.js" crossorigin="anonymous"></script>
</head>

<body>
    <Header>
        <div class="greenbar__container">
            <p>Bienvenido al mundo saludable</p>
            <p>Envios gratis desde $6000</p>
            <p>Ofertas todos los días</p>
        </div>
        <div class="navbar__container">
            <i class="fa-solid fa-magnifying-glass"></i>
            <div class="header__tittle__container">
                <div class="header__tittle">
                    <h1 class="white__word">Green</h1>
                    <h1 class="green__word">Food</h1>
                </div>
                <div class="header__subtittle">
                    <p>Lorem ipsum dolor sit amet</p>
                </div>
            </div>
            <i class="fa-solid fa-bars"></i>
        </div>
        <div class="navbar__container--1024">
            <div class="navbar__busqueda">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text">
            </div>
            <div class="header__tittle__container">
                <div class="header__tittle">
                    <h1 class="white__word">Green</h1>
                    <h1 class="green__word">Food</h1>
                </div>
                <div class="header__subtittle">
                    <p>Lorem ipsum dolor sit amet</p>
                </div>
            </div>
            <div class="navbar__loginregister">
                <span class="header__login__text">Login</span>
                <span class="header__register__text">Register</span>
            </div>
        </div>
        <div class="header__categories__container">
            <span class="header__categories">Inicio</span>
            <span class="header__categories">Dietética</span>
            <span class="header__categories">Veggie</span>
            <span class="header__categories">Snacks</span>
            <span class="header__categories">Suplementos</span>
            <span class="header__categories">Varios</span>
        </div>
    </Header>
    <main>
        <section class="home__banner__container">
            <div class="home__banner__tittles">
                <h1 class="green__word">Ofertas</h1>
                <h1 class="white__word">desde 25%</h1>
            </div>
            <div class="home__banner__buttons">
                <input type="radio" name="banner__selector" checked>
                <input type="radio" name="banner__selector">
                <input type="radio" name="banner__selector">
            </div>
        </section>
        <section class="home__productos__container">
            <h2 class="productos__tittles">
                <span class="white__word">Combos</span>
                <span class="green__word">Green</span>
            </h2>
            <div class="producto__superior__container">
                <div class="producto__izquierda">
                    <div class="producto p1">
                        <h4 class="producto__precio">$xxxx</h4>
                    </div>
                    <h5 class="producto__nombre">Lorem, ipsum dolor.</h5>
                </div>
                <div class="producto__linea"></div>
                <div class="producto__derecha">
                    <div class="producto p2">
                        <h4 class="producto__precio">$xxxx</h4>
                    </div>
                    <h5 class="producto__nombre">Lorem, ipsum dolor.</h5>
                </div>
            </div>
            <div class="producto__inferior__container">
                <div class="producto__izquierda">
                    <div class="producto p2">
                        <h4 class="producto__precio">$xxxx</h4>
                    </div>
                    <h5 class="producto__nombre">Lorem, ipsum dolor.</h5>
                </div>
                <div class="producto__linea"></div>
                <div class="producto__derecha">
                    <div class="producto p1">
                        <h4 class="producto__precio">$xxxx</h4>
                    </div>
                    <h5 class="producto__nombre">Lorem, ipsum dolor.</h5>
                </div>
            </div>
            <div class="producto__buttons">
                <input type="radio" name="producto__selector" checked>
                <input type="radio" name="producto__selector">
                <input type="radio" name="producto__selector">
            </div>
        </section>
        <section class="home__ayuda__container">
            <h1>¿Necesitas ayuda?</h1>
            <div class="ayuda__linea"></div>
            <div class="ayuda__items">
                <div class="ayuda__logo">
                    <img src="/img/home/bmi1.png" alt="">
                </div>
                <h4 class="ayuda__texto">IMC</h4>
            </div>
            <div class="ayuda__items">
                <div class="ayuda__logo">
                    <img src="/img/home/info.png" alt="">
                </div>
                <h4 class="ayuda__texto">Información</h4>
            </div>
            <div class="ayuda__items">
                <div class="ayuda__logo">
                    <img src="/img/home/foro1.png" alt="">
                </div>
                <h4 class="ayuda__texto">Foro</h4>
            </div>
            <div class="ayuda__items">
                <div class="ayuda__logo">
                    <img src="/img/home/nutricion1.png" alt="">
                </div>
                <h4 class="ayuda__texto">Nutrición</h4>
            </div>
        </section>
        <section class="home__banner2__container">
            <h1 class="green__word txtizq">¡Todo</h1>
            <h1 class="white__word txtder">lo que</h1>
            <h1 class="white__word txtizq">necesitas</h1>
            <h1 class="green__word txtder">y más!</h1>
        </section>
        <section class="home__recomendados__container home__productos__container">
            <h3 class="producto__nombre">Lorem.</h3>
            <div class="producto recomendado1">
                <h3 class="recomendado__estrellas">
                    <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                        class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                </h3>
                <h3 class="producto__precio">$XXXX</h3>
            </div>
            <h3 class="producto__nombre">Lorem 2.</h3>
            <div class="producto recomendado2">
                <h3 class="recomendado__estrellas">
                    <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                        class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                </h3>
                <h3 class="producto__precio">$XXXX</h3>
            </div>
            <h3 class="producto__nombre">Lorem 3.</h3>
            <div class="producto recomendado3">
                <h3 class="recomendado__estrellas">
                    <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                        class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                </h3>
                <h3 class="producto__precio">$XXXX</h3>
            </div>
        </section>
    </main>
    <Footer>
        <div class="suscribe__container">
            <h2 class="suscribe__tittle">Suscribete y recibe ofertas exclusivas</h2>
            <input type="text" name="suscription" placeholder="Ingresa tu Email">
        </div>
        <div class="consultas__container">
            <div>
                <h3>Servicio al cliente</h3>
                <p>Preguntas Frecuentes</p>
                <p>Estado de la compra</p>
                <p>Información de envíos</p>
            </div>
            <div>
                <h3>Recursos</h3>
                <p>Promociones y Ofertas</p>
            </div>
            <div>
                <h3>Empresa</h3>
                <p>Sobre Nosotros</p>
                <p>Términos de Privacidad</p>
            </div>
            <div>
                <h3>Seguinos</h3>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href="https://www.facebook.com/profile.php?id=100083228144123"><i
                        class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-twitter"></i></a>
            </div>
        </div>
        <div class="paymethods__container">
            <h3>Medios de pago</h3>
            <div class="cards__container">
                <img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/visa@2x.png" alt="visa_card">
                <img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mastercard@2x.png" alt="mastercard_card">
                <img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/amex@2x.png" alt="americanexpress_card">
                <img src="https://1000marcas.net/wp-content/uploads/2019/12/logo-Paypal.png" alt="paypal_card">
                <img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mercadopago@2x.png" alt="mercadopago_card">
            </div>
        </div>
        <div class="copyright__container">
            <small>2022 Green Food S.A. Todos los derechos reservados ©</small>
        </div>
    </Footer>
</body>

</html>