<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GreenFood|Registrar</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/98ce542dfa.js" crossorigin="anonymous"></script>
</head>
<body>
    <Header>
        <div class="greenbar__container">
            <p>Bienvenido al mundo saludable</p>
            <p>Envios gratis desde $6000</p>
            <p>Ofertas todos los días</p>
        </div>
        <div class="navbar__container">
            <i class="fa-solid fa-magnifying-glass"></i>
            <div class="tittle__container">
                <div class="tittle">
                    <h1 class="nav__word1">Green</h1>
                    <h1 class="nav__word2">Food</h1>
                </div>
                <div class="subtittle">
                    <p>Lorem ipsum dolor sit amet</p>
                </div>
            </div>
            <i class="fa-solid fa-bars"></i>

        </div>
    </Header>
    
    <main>
    <h1>registrar</h1>
    <form class="form" action="">
        <div class="form__box">
            <label class="form__label" for="nombre">
                <!-- Nombre -->
            </label>
            <input class="form__input" type="text" name="nombre" id="nombre" placeholder="Nombre y apellido">
        </div>
        <div class="form__box">
            <label class="form__label" for="email">
                <!-- Email -->
            </label>
            <input class="form__input" type="text" name="email" id="email" placeholder="email">
        </div>
        <div class="form__box">
            <label class="form__label" for="password">
                <!-- Contraseña -->
            </label>
            <input class="form__input" type="password" name="password" id="password" placeholder="contraseña">
        </div>
        <div class="form__box">
            <label class="form__label" for="reingrese contraseña">
                <!-- Reingrese su contraseña -->
            </label>
            <input class="form__input" type="password" name="reingrese password2" id="password2"
                placeholder="reingrese su contraseña">
        </div>
        <div class="form__box">
            <button class="form__button--cuenta" type="submit">Crear cuenta</button>
        </div>
        <div class="form__box">
            <button class="form__button--google" type="submit">Entrar con google</button>
        </div>
        <div class="form__box">
            <button class="form__button--facebook" type="submit">Entrar con facebook</button>
            <img src="" alt="">
        </div>
    </form>
</main>

    <Footer class="Footer">
        <div class="suscribe__container">
            <h2 class="suscribe__tittle">Suscribete y recibe ofertas exclusivas</h2>
            <input type="text" name="suscription" placeholder="Ingresa tu Email">
        </div>
        <div class="consultas__container">
            <div>
                <h3>Servicio al cliente</h3>
                <p>Preguntas Frecuentes</p>
                <p>Estado de la compra</p>
                <p>Información de envíos</p>
            </div>
            <div>
                <h3>Recursos</h3>
                <p>Promociones y Ofertas</p>
            </div>
            <div>
                <h3>Empresa</h3>
                <p>Sobre Nosotros</p>
                <p>Términos de Privacidad</p>
            </div>
            <div>
                <h3>Seguinos</h3>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href="https://www.facebook.com/profile.php?id=100083228144123"><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-twitter"></i></a>
            </div>
        </div>
        <div class="paymethods__container">
            <h3>Medios de pago</h3>
            <div class="cards__container">
                <img src="/img/footer/Visa-DebitCard.png" alt="visa_card">
                <img src="/img/footer/MasterCard-DebitCard.png" alt="mastercard_card">
                <img src="/img/footer/American-Express-Card.png" alt="americanexpress_card">
                <img src="/img/footer/Paypal.png" alt="paypal_card">
                <img src="/img/footer/MercadoPago-DebitCard.png" alt="mercadopago_card">
            </div>
        </div>
        <div class="copyright__container">
            <h5>2022 Green Food S.A. Todos los derechos reservados</h5>
        </div>
    </Footer>
    
</body>
</html>