.main {
    display: flex;
    background-color: var(--color-verdeClaro);
    font-family: 'Alata', sans-serif;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.detalle__h1 {
    font-size: 12px;
    margin: 20px 0 20px 20px;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.main__div {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__div img {
    width: 140px;
    height: 220px;
    border-radius: 10px;
    margin: 5px 50px;
}

.main__images {
    display: flex;
    flex-direction: column;
    width: 20%;
    *height: 50px;
    *position: relative;
    *bottom: 112px;
    *left: 17px;
    border-radius: 5px;
    margin: 5px auto;
    justify-content: space-evenly;
}

.main__detalle h3 {
    *margin-top: -20px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.main__detalle h4,
.main__detalle h5,
.main__detalle p {
    text-align: center;
    padding: 7px;
}

.main__detalle {
    height: fit-content;
}

.main__agregar {
    display: flex;
    justify-content: center;
}

.main__cantidad,
.main__carrito,
.main__comprar,
.main__consulta {
    text-align: center;
    padding: 7px;
}

.main__cantidad {
    display: flex;
    background-color: rgb(195, 185, 185);
    border-radius: 7px;
    align-self: center;
}

.main__cantidad--up,
.main__cantidad--down {
    border-radius: 5px;
    border: none;
    background-color: rgb(195, 185, 185);
    font-weight: bolder;
    padding: 2px;
}

.main__agregar span {
    text-transform: uppercase;
    padding: 5px;
    font-size: 10px;
    background-color: rgb(195, 185, 185);
}

.main__carrito__button {
    border-radius: 15px;
    font-size: 10px;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    background-color: var(--color-verdeOscuro);
    color: white;
    font-weight: bolder;
}

.main__consulta--button {
    border-radius: 0 15px 15px 0;
    border: none;
    padding: 10px 20px;
    font-size: 10px;
    text-transform: uppercase;
    background-color: var(--color-verdeOscuro);
    color: white;
    font-weight: bolder;
}

.main__consulta p {
    font-size: 10px;
    font-weight: bold;
}

.main__comprar__button {
    border-radius: 20px;
    border: none;
    padding: 10px 60px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    background-color: #4E9F3D;
    margin-bottom: 30px;
}

.boxTittle p {
    display: none;
}

.detalle__truck {
    display: none;
    *justify-self: left;
    width: 100%;
    text-align: left;
}

.detalle__truck img {
    width: 120px;
}

.home__recomendados__container {
    display: none;
}

.container2 {
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-self: center;
}


/* TABLET */

@media (min-width: 768px) {

    .registar h1 {
        font-size: 16px;
        margin: 100px 0px 0px 100px;
    }

    .main__div--img {
        width: 270px;
        height: 400px;
        border-radius: 20px;
        *position: relative;
        *top: 90%;
        *left: 230px;
    }

    .main__images {
        width: 110px;
        height: 110px;
        *position: relative;
        *bottom: 172px;
        *left: 160px;
        border-radius: 10px;
        margin: 7px;
    }

    .main__images img {
        width: 70px;
        height: 70px;
        margin: 5px;
        border-radius: 5px;
    }

    .container2 {
        *position: relative;
        *bottom: 400px;
        *left: 600px;
    }

    .detalle__truck {
        display: block;
        *position: relative;
        *display: block;
        *top: -20px;
        *left: 100px;
    }

    .home__recomendados__container {
        display: none;
    }
}



/*  DESKTOP  */

@media (min-width:1024px) {

    .detalle h1 {
        font-size: 16px;
        margin: 100px 0px 0px 100px;
    }

    .main__detalle p {
        *position: relative;
        *bottom: 50;
        *left: 30;
        font-size: 14px;
    }

    .main__images {
        width: 110px;
        height: 110px;
        *position: relative;
        *top: 70px;
        *left: 5px;
        border-radius: 10px;
        margin: 7px;
    }

    .detalle__truck {
        display: block;
    }



    .home__recomendados__container {
        display: block;
    }

    div .recomendado__container img {
        width: 160px;
        height: 140px;
        border: 1px solid black;
        margin-top: 20px;
    }

    .productos__recomendados__container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
    }

    .recomendado__estrellas i {
        color: gold;
        font-size: 22px;
    }

    .producto__precio {
        color: black;
        width: 100%;
        text-align: center;
    }

    .productos__tittles {
        text-align: center;
    }

    div.recomendado__container img {
        width: 200px;
        height: 180px;
        margin-top: 10px;
    }

    .productos__tittles {
        text-align: center;
    }
}