/* Body */

body{
    background-color: var(--color-verdeUltraClaro);
}

<<<<<<< HEAD

=======
>>>>>>> 43f93d84d590ac3e6635bf27eaa2069fa7ced8b4
/* Header */

header{
    display: block;
}

.greenbar__container{
    background-color: var(--color-verde);
    display: none;
    justify-content: space-around;
    align-items: center;
}

.greenbar__container p {
    width: 35%;
    color: #fff;
    text-align: center;
<<<<<<< HEAD
    font-size: 10px;
=======
    font-size: 12px;
>>>>>>> 43f93d84d590ac3e6635bf27eaa2069fa7ced8b4
    text-transform: uppercase;
}

.navbar__container{
    background-color: var(--color-negro);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2%;
}

.navbar__container i{
    font-size: 26px;
    color: white;
    height: fit-content;
<<<<<<< HEAD
/* Colocar como boton */
}

.header__tittle__container{
=======
}

.navbar__container--1024{
    display: none;
    background-color: var(--color-negro);
    justify-content: space-around;
    align-items: center;
    padding: 2%;
}

.navbar__busqueda{
    background-color: #fff;
    width: 25%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    color: gray;
}

.navbar__busqueda input{
    background-color: none;
    border: none;
    width: 90%;
    height: 90%;
}

.navbar__busqueda i{
    margin-left: 2%;
}

.navbar__loginregister{
    color: #fff;
    font-size: 24px;
    width: 25%;
    display: flex;
    justify-content: space-evenly;
    font-weight: 500;
}

.header__tittle__container{
    width: 50%;
>>>>>>> 43f93d84d590ac3e6635bf27eaa2069fa7ced8b4
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__tittle{
    display: flex;
}

.white__word{
<<<<<<< HEAD
    width: fit-content;
=======
>>>>>>> 43f93d84d590ac3e6635bf27eaa2069fa7ced8b4
    color: #fff;
}

.green__word{
<<<<<<< HEAD
    width: fit-content;
=======
>>>>>>> 43f93d84d590ac3e6635bf27eaa2069fa7ced8b4
    color: var(--color-verde);
}

.header__subtittle{
    width: fit-content;
    color: #fff;
    font-size: 14px;
}

<<<<<<< HEAD
=======
.header__categories__container{
    color: #fff;
    display: none;
    background-color: var(--color-negro);
    border: 1px solid gray;
    justify-content: space-evenly;
}

.header__categories{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1% 0;
    width: 17%;
    height: 3vh;
    border-left: 0.5px solid gray;
    border-right: 0.5px solid gray;
}

.header__categories:last-child{
    border-right: 0;
}

.header__categories:first-child{
    border-left: 0;
}

>>>>>>> 43f93d84d590ac3e6635bf27eaa2069fa7ced8b4
/* Footer */

Footer{
    background-color: var(--color-negro);
    width: auto;
    height: auto;
    color: #fff;
}

.suscribe__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.suscribe__tittle{
    width: 70%;
    margin: 5% auto 3%;
    text-align: center;
    text-transform: uppercase;
}

.suscribe__container input{
    background-color: #fff;
    margin-bottom: 15%;
    width: 80%;
<<<<<<< HEAD
    height: 3.5vh;
=======
    border: none;
    height: 5vh;
>>>>>>> 43f93d84d590ac3e6635bf27eaa2069fa7ced8b4
}

.consultas__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.consultas__container div{
    width: 45%;
<<<<<<< HEAD
    margin-bottom: 5%;
=======
    margin-bottom: 10%;
>>>>>>> 43f93d84d590ac3e6635bf27eaa2069fa7ced8b4
}

.consultas__container div h3{
    color: var(--color-verde);
    margin-bottom: 5%;
}

.consultas__container div p{
    margin-bottom: 3%;
}

.consultas__container div a i{
    color: #fff;
    font-size: 36px;
    margin-right: 4%;
}

.paymethods__container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10%;
}

.paymethods__container h3{
    margin-bottom: 5%;
}

.cards__container{
    display: flex;
<<<<<<< HEAD
=======
    width: 80%;
>>>>>>> 43f93d84d590ac3e6635bf27eaa2069fa7ced8b4
    justify-content: space-evenly;
}

.cards__container img {
    background-color: #fff;
<<<<<<< HEAD
    width: 13%;
    object-fit: contain;
}

.copyright__container h5{
    text-align: center;
    font-weight: 400;
}

@media (min-width:768px){
    
    .greenbar__container{
        display: flex;
    }    
=======
    width: 40px;
    height: 25px;
    object-fit: fill;
    margin: 5px;
}

.copyright__container{
    display: flex;
    text-align: center;
    justify-content: center;
    font-weight: 400;
    width: 100%;
}

@media (min-width:768px){

    header, footer{
        font-size: 18px;
    }

    /* Header */

    .greenbar__container{
        display: flex;
    }

    .greenbar__container p{
        font-size: 14px;
    }
    
    /* Footer */

    .suscribe__container input{
        margin-bottom: 10%;
    }

    .consultas__container div{
        margin-bottom: 5%;
    }

    .paymethods__container{
        margin: 5%;
    }

    .cards__container img{
        width: 80px;
        height: 50px;
    }
}

@media (min-width:1024px){

    /* Header */

    .navbar__container{
        display: none;
    }

    .navbar__container--1024{
        display: flex;
    }

    .header__categories__container{
        display: flex;
    }

    /* Footer */

    .consultas__container div{
        width: 20%;
        margin-bottom: 0;
    }
>>>>>>> 43f93d84d590ac3e6635bf27eaa2069fa7ced8b4
}




<<<<<<< HEAD
=======

>>>>>>> 43f93d84d590ac3e6635bf27eaa2069fa7ced8b4
