/* Body */

body{
    background-color: var(--color-verdeClaro);
}


/* Header */

.greenbar__container{
    background-color: var(--color-verde);
    display: flex;
    justify-content: space-around;
}

.greenbar__container p {
    width: 100px;
    color: #fff;
    text-align: center;
    font-size: 10px;

}

.navbar__container{
    background-color: var(--color-verdeOscuro);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}

.navbar__container i{
    font-size: 26px;
    color: white;
    height: fit-content;
/* Colocar como boton */
}

.tittle__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tittle{
    display: flex;
}

.nav__word1{
    width: fit-content;
    color: #fff;
}

.nav__word2{
    width: fit-content;
    color: var(--color-verde);
}

.subtittle{
    width: fit-content;
    color: #fff;
}