/* Main */

.home__main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home__seccion1, .home__seccion2{
    width: 100%;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url("../images/comida-ingredientes_1220-4884.webp");
    background-size: cover;
}

.home__banner__container{
    width: 100%;
    display: none;
    background-image: url("/images/home/img\ \(1\).jpg");
    background-size: cover;
    background-position: center;
    *display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.home__banner__tittles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4% 0 2%;
}

.home__banner__buttons{
    accent-color: var(--color-verde);
    margin: 2% 0 2%;
}

/* Nuevo banner-Slider */

.home__slider__container{
    width: 100%;
    overflow: hidden;
}

.home__slider__container ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 20s infinite alternate linear;
}

.home__slider__container li {
    height: 150px;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.home__slider__container h1{
    width: fit-content;
}

.bannertitle1{
    background-image: url("../../images/home/img (1).jpg");
}
.bannertitle2{
    background-image: url("../../images/banner.jpg");
}
.bannertitle3{
    background-image: url("../../images/banner2.webp");
}
.bannertitle4{
    background-image: url("../../images/banner3.jpg");
}

@keyframes cambio {
    0% { margin-left: 0;}
    20% { margin-left: 0;}
    25% { margin-left: -100%;}
    45% { margin-left: -100%;}
    50% { margin-left: -200%;}
    70% { margin-left: -200%;}
    75% { margin-left: -300%;}
    100% { margin-left: -300%;}
}

/* ----------------------------- */

.home__productos__container{
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    width: 90%;
    padding: 5%;
    margin: 5% 0;
    justify-content: center;
    background-color: var(--color-verdeClaro);
    border-radius: 5px;
    box-shadow: 2px 2px 2px var(--color-negro);
}

.productos__tittles{
    width: 240px;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 20px;
    font-size: 32px;
    border-bottom: 5px solid var(--color-negro);
    text-shadow: 2px 2px 2px black;
    padding-bottom: 10px;
}

.productos__tittles span{
    *height: 25px;
    margin: 0 5px;
}

.producto__superior__container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5% 0;
}

.producto__inferior__container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5% 0;
}

.producto__izquierda, .producto__central, .producto__derecha{
    width: 75%;
    height: fit-content;
    background-color: var(--color-negro);
    border: 1px solid var(--color-negro);
    border-radius: 15px;
    overflow: hidden;
}

.producto__derecha,
.producto__central{
    display: none;
}

.producto{
    color: var(--color-blanco);
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0 0;
    text-align: right;
    align-items: flex-end;
    display: flex;
}

.p1,.p2,.p3{
    height: 30vh;
    border-bottom: 5px solid var(--color-negro);
}

.p1{
    background-image: url("/images/home/producto1.webp");
}

.p2{
    background-image: url("/images/home/producto2.jpg");
}

.p3{
    background-image: url("/images/home/producto3.jpg");
}

.producto__precio{
    width: 100%;
    height: fit-content;
    padding-right: 5%;
    background-color: rgba(0, 0, 0, 0.5);
}

.producto__nombre{
    text-shadow: 2px 2px 2px black;
    border-bottom: 15px;
    height: 0;
    width: 100%;
    text-transform: uppercase;
    color: white;
    text-align: center;
    margin: 5% 0 0;
    overflow: hidden;
}

.producto__izquierda:hover .producto__nombre, .producto__central:hover .producto__nombre, .producto__derecha:hover .producto__nombre{
    height: 40px;
    transition: all 1s;
}

.producto__izquierda:hover, .producto__central:hover, .producto__derecha:hover{
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    transition: all 1s;
}

.producto__linea{
    border-right: 1px solid black;
    height: 10vh;
    max-width: 2px;
    padding: 0;
    margin: 5% 0;
    display: none;
}

.home__ayuda__container{
    background-color: var(--color-blanco);
    width: 100%;
    *margin: 5%;
    border: 1px solid gray;
    box-shadow: 2px 2px 2px var(--color-negro);
    text-align: center;
    padding: 10% 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ayuda__linea{
    border-top: 1px solid black;
    width: 80%;
    padding: 0;
    margin: 10% 0;
}

.ayuda__items{
    width: 50%;
    margin: 2% 0 5%;
}

.ayuda__logo img{
    border: 1px solid gray;
    border-radius: 50%;
    background-color: white;
    width: 60%;
}

.ayuda__texto{
    margin-top: 5%;
}

.home__banner2__container{
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 3% 0;
}

.txtizq{
    text-align: right;
    padding-right: 0.5%;
}

.txtder{
    text-align: left;
    padding-left: 0.5%;
}

.home__recomendados__container{
    height: 650px;
    margin-top: 0;
}

.productos__recomendados__container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 4% 0;
    justify-content: center;
    align-items: center;
}

.recomendado__container{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recomendado__container--768{
    display: none;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recomendado__nombre{
    text-shadow: 2px 2px 2px black;
    border-bottom: 15px;
    height: fit-content;
    width: 100px;
    text-transform: uppercase;
    color: white;
    text-align: center;
}

.recomendado1, .recomendado2, .recomendado3{
    width: 120px;
    height: 120px;
    margin: 5% 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    border-radius: 5px;
}

.recomendado1{
    background-image: url("/images/home/producto1.webp");
}

.recomendado2{
    background-image: url("/images/home/producto2.jpg");
}

.recomendado3{
    background-image: url("/images/home/producto1.webp");
}

.recomendado__estrellas{
    font-size: 14px;
    width: 100%;
    color: var(--color-amarillo);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px 5px 0 0;
}

.recomendado__estrellas i{
    margin: 0 2px;
}

.listadeejemlo{
    position: absolute;
    width: 100%;
    color: aliceblue;
}

.izquierdaejemplo{
    left: 50px;
    position: absolute;
}

.derechaejemplo{
    right: 0;
    bottom: 50%;
    position: absolute;
}

@media (min-width:768px){

    main{
        font-size: 18px;
    }

    .home__banner__container{
        height: 200px;
    }

    .home__banner__tittles{
        font-size: 40px;
        margin: 0 0 10px;
    }

    .home__banner__buttons{
        font-size: 20px;
        margin: 0px 0 0px;
    }

    .home__productos__container{
        height: 500px;
    }

    .productos__tittles{
        width: fit-content;
        display: flex;
        margin: 0;
        justify-content: space-between;
    }

    .producto__linea{
        display: block;
    }

    .producto__izquierda, .producto__central, .producto__derecha{
        width: 25%;
        height: fit-content;
    }

    .producto__derecha,
    .producto__central{
        display: block;
    }

    .home__banner2__container{
        height: 120px;
        flex-direction: row;
    }

    .home__banner2__container h1{
        font-size: 40px;
        *width: 45%;
    }

    .home__ayuda__container{
        padding: 5% 2%;
    }

    .ayuda__linea{
        margin: 5% 0;
    }

    .ayuda__items{
        width: 25%;
    }

    .home__recomendados__container{
        height: 600px;
        flex-wrap: wrap;
    }

    .recomendado1, .recomendado2, .recomendado3{
        width: 150px;
        height: 150px;
    }

    .recomendado__container, .recomendado__container--768{
        width: 50%;
    }

    .recomendado__container--768{
        display: flex;
    }
}

@media (min-width:1024px){

    .home__productos__container{
        padding: 2%;
        align-content: space-around;
    }

    .productos__tittles{
        height: 75px;
    }
    
    .producto__izquierda, .producto__central, .producto__derecha{
        height: fit-content;
    }

    .producto__inferior__container{
        display: none;
    }

    .p1, .p2, .p3{
        height: 200px;
    }

    .home__ayuda__container{
        justify-content: space-evenly;
        align-items: center;
    }

    .home__ayuda__container h1{
        width: 150px;
        height: fit-content;
    }

    .ayuda__linea{
        border-top: 0px solid black;
        border-right: 1px solid black;
        width: 0;
        height: 200px;
        padding: 0;
        margin: 0 0;
    }

    .ayuda__items{
        height: 150px;
        width: 150px;
        margin: 2% 0 0;
    }

    .home__recomendados__container{
        height: 400px;
    }

    .recomendado__container, .recomendado__container--768{
        width: 25%;
    }

    .home__seccion2{
        height: fit-content;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }
}