<!DOCTYPE html>
<html lang="es">

    <%- include("./partials/head") %> 

<body>
    <%- include("./partials/header") %> 

    <main class="registrar__main">
        <p class="login--parapho"><a href="/home.html">Inicio</a>/register</p>
<!--         <h1 class="registrar__h1">Registro 游때</h1>
 -->        <div class="container__form">
            <form class="form" action="POST">
                <div class="form__box">
                    <label class="form__label" for="nombre"></label>
                    <input class="form__input" type="text" name="nombre" id="nombre" placeholder="Nombre y apellido">
                </div>
                <div class="form__box">
                    <label class="form__label" for="email"></label>
                    <input class="form__input" type="text" name="email" id="email" placeholder="email">
                </div>
                <div class="form__box">
                    <label class="form__label" for="password"></label>
                    <input class="form__input" type="password" name="password" id="password" placeholder="Contrase침a">
                </div>
                <div class="form__box">
                    <label class="form__label" for="reingrese contrase침a"></label>
                    <input class="form__input" type="password" name="reingrese password2" id="password2"
                        placeholder="Reingrese su contrase침a">
                </div>
                <div class="form__box">
                    <button class="form__button--cuenta" type="submit">Crear cuenta</button>
                </div>
            </form>
        </div>
        <div class="container__cuentas">
            <div class="form__box__google">
                <button class="form__button--google" type="submit">
                    <h3>Entrar con Google</h6> 
                    <img class="logoGoogle" width="40px" src="/images/googleLogo.png" alt="logoGoogle">
                </button>
                
            </div>
            <div class="form__box">
                <button class="form__button--facebook" type="submit">
                    <h3>Entrar con Facebook</h6> 
                    <img class="logoFacebook" width="40px" src="/images/Facebook.png" alt="logoFacebook">
                </button>
                
            </div>
        </div>
        <div class="form__contact">
            <h5>contactanos</h5>
            <p>e-commerce@greenfood.com.ar</p>
            <p>Argentina</p>
        </div>
        <div>
            <img class="registrar__truck" src="/images/envio-1.png" alt="logoEnvio">
        </div>
        <div class="abajo">
            <h6><span><i class="fa-regular fa-envelope"></i></span>&nbsp;CONTACTANOS<br><a
                    href="greenfoodargentina@gmail.com">greenfoodargentina@gmail.com</a> </h6>

            <img width="90" src="/img/images.jfif" alt="envio">

            <h6><span><i class="fa-solid fa-location-dot"></i></span> Argentina</h6>
        </div>

    </main>

    <%- include("./partials/footer") %> 

</body>

</html>