<Footer>
    <div class="suscribe__container">
        <h2 class="suscribe__tittle">Suscribete y recibe ofertas exclusivas</h2>
        <input type="text" name="suscription" placeholder="Ingresa tu Email">
    </div>
    <div class="consultas__container">
        <div>
            <h3>Servicio al cliente</h3>
            <p>Preguntas Frecuentes</p>
            <p>Estado de la compra</p>
            <p>Información de envíos</p>
        </div>
        <div>
            <h3>Recursos</h3>
            <p>Promociones y Ofertas</p>
        </div>
        <div>
            <h3>Empresa</h3>
            <p>Sobre Nosotros</p>
            <p>Términos de Privacidad</p>
        </div>
        <div>
            <h3>Seguinos</h3>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.facebook.com/profile.php?id=100083228144123"><i
                    class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
        </div>
    </div>
    <div class="paymethods__container">
        <h3>Medios de pago</h3>
        <div class="cards__container">
            <img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/visa@2x.png"
                alt="visa_card">
            <img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mastercard@2x.png"
                alt="mastercard_card">
            <img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/amex@2x.png"
                alt="americanexpress_card">
            <img src="https://1000marcas.net/wp-content/uploads/2019/12/logo-Paypal.png" alt="paypal_card">
            <img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mercadopago@2x.png"
                alt="mercadopago_card">
        </div>
    </div>
    <div class="copyright__container">
        <small>2022 Green Food S.A. Todos los derechos reservados ©</small>
    </div>
</Footer>