<Header>
    <div class="greenSlider__container">
        <div class="greenSlide-track">
            <p>Bienvenido al mundo saludable</p>
            <p>Envios gratis desde $6000</p>
            <p>Ofertas todos los días</p>
            <p>Productos en descuento</p>
            <p>Tu vida más saludable</p>
        </div>
        
    </div>
    <div class="navbar__container">
        <i class="fa-solid fa-magnifying-glass"></i>
        <div class="header__tittle__container">
            <a href="/">
                <div class="header__tittle">
                    <h1 class="white__word">Green</h1>
                    <h1 class="green__word">Food</h1>
                </div>
                <div class="header__subtittle">
                    <p>Lorem ipsum dolor sit amet</p>
                </div>
            </a>
        </div>
        <button class="header__burgerbutton">
            <i class="fa-solid fa-bars"></i>
            <ul class="header__menu">
                <a href="/carrito">
                    <li><i class="fa-solid fa-cart-shopping"></i></li>
                </a>
                <a href="/users/adminProfile">
                    <li><i class="fa-solid fa-circle-user"></i></li>
                </a>
                <a href="/users/login">
                    <li>Login</li>
                </a>
                <a href="/users/registrar">
                    <li>Register</li>
                </a>
            </ul>
        </button>
    </div>
    <div class="navbar__container--1024">
        <div class="navbar__busqueda">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text">
        </div>
        <div class="header__tittle__container">
            <a href="/">
                <div class="header__tittle">
                    <h1 class="white__word">Green</h1>
                    <h1 class="green__word">Food</h1>
                </div>
                <div class="header__subtittle">
                    <p>Lorem ipsum dolor sit amet</p>
                </div>
            </a>
        </div>
        <div class="userNav__container">
            <ul class="navbar__loginregister">
                <li><a href="/users/login">Login</a></li>
                <li><a href="/users/register">Register</a></li>
            </ul>
            <a class="navbar__carrito" href="/products/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
            <a class="navbar__profile" href="/users/adminProfile"><i class="fa-solid fa-circle-user"></i></a>
        </div>
        
    </div>
    <div class="header__categories__container">
        <span class="header__categories">Inicio</span>
        <span class="header__categories">Dietética</span>
        <span class="header__categories">Veggie</span>
        <span class="header__categories">Snacks</span>
        <span class="header__categories">Suplementos</span>
        <span class="header__categories">Varios</span>
        <a href="/products/products">Todos Products</a>
    </div>
    <div class="header__adminNavbar__container">
        <ul>
            <li><a href="/users/adminProfile">Perfil</a></li>
            <li><a href="/products/addProduct">Agregar</a></li>
            <li><a href="/products/selectEditProduct">Editar</a></li>
            <li><a href="/products/deleteProduct">Eliminar</a></li>
            
        </ul>
    </div>
</Header>