<Header>
    <div class="greenbar__container">
        <p>Bienvenido al mundo saludable</p>
        <p>Envios gratis desde $6000</p>
        <p>Ofertas todos los días</p>
    </div>
    <div class="navbar__container">
        <i class="fa-solid fa-magnifying-glass"></i>
        <div class="header__tittle__container">
            <a href="/">
                <div class="header__tittle">
                    <h1 class="white__word">Green</h1>
                    <h1 class="green__word">Food</h1>
                </div>
                <div class="header__subtittle">
                    <p>Lorem ipsum dolor sit amet</p>
                </div>
            </a>
        </div>
        <button class="header__burgerbutton">
            <i class="fa-solid fa-bars"></i>
            <ul class="header__menu">
                <a href="/carrito">
                    <li><i class="fa-solid fa-cart-shopping"></i></li>
                </a>
                <a href="/login">
                    <li>Login</li>
                </a>
                <a href="/registrar">
                    <li>Register</li>
                </a>
            </ul>
        </button>
    </div>
    <div class="navbar__container--1024">
        <div class="navbar__busqueda">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text">
        </div>
        <div class="header__tittle__container">
            <a href="/">
                <div class="header__tittle">
                    <h1 class="white__word">Green</h1>
                    <h1 class="green__word">Food</h1>
                </div>
                <div class="header__subtittle">
                    <p>Lorem ipsum dolor sit amet</p>
                </div>
            </a>
        </div>
        <ul class="navbar__loginregister">
            <li><a href="/users/login">Login</a></li>
            <li><a href="/users/register">Register</a></li>
        </ul>
        <a class="navbar__carrito" href="/products/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
    </div>
    <div class="header__categories__container">
        <span class="header__categories">Inicio</span>
        <span class="header__categories">Dietética</span>
        <span class="header__categories">Veggie</span>
        <span class="header__categories">Snacks</span>
        <span class="header__categories">Suplementos</span>
        <span class="header__categories">Varios</span>
    </div>
</Header>