<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GreenFood|Registrar</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/98ce542dfa.js" crossorigin="anonymous"></script>
</head>

<body>
    <Header>
        <div class="greenbar__container">
            <p>Bienvenido al mundo saludable</p>
            <p>Envios gratis desde $6000</p>
            <p>Ofertas todos los días</p>
        </div>
        <div class="navbar__container">
            <i class="fa-solid fa-magnifying-glass"></i>
            <div class="header__tittle__container">
                <a href="/">
                    <div class="header__tittle">
                        <h1 class="white__word">Green</h1>
                        <h1 class="green__word">Food</h1>
                    </div>
                    <div class="header__subtittle">
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                </a>
            </div>
            <button class="header__burgerbutton">
                <i class="fa-solid fa-bars"></i>
                <ul class="header__menu">
                    <a href="/carrito">
                        <li><i class="fa-solid fa-cart-shopping"></i></li>
                    </a>
                    <a href="/login">
                        <li>Login</li>
                    </a>
                    <a href="/registrar">
                        <li>Register</li>
                    </a>
                </ul>
            </button>
        </div>
        <div class="navbar__container--1024">
            <div class="navbar__busqueda">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text">
            </div>
            <div class="header__tittle__container">
                <a href="/">
                    <div class="header__tittle">
                        <h1 class="white__word">Green</h1>
                        <h1 class="green__word">Food</h1>
                    </div>
                    <div class="header__subtittle">
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                </a>
            </div>
            <ul class="navbar__loginregister">
                <li><a href="/login">Login</a></li>
                <li><a href="/registrar">Register</a></li>
            </ul>
            <a class="navbar__carrito" href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
        <div class="header__categories__container">
            <span class="header__categories">Inicio</span>
            <span class="header__categories">Dietética</span>
            <span class="header__categories">Veggie</span>
            <span class="header__categories">Snacks</span>
            <span class="header__categories">Suplementos</span>
            <span class="header__categories">Varios</span>
        </div>
    </Header>

    <main class="registrar__main">
        <h1 class="registrar__h1">Inicio/registro</h1>
        <div class="container__form">
            <form class="form" action="POST">
                <div class="form__box">
                    <label class="form__label" for="nombre"></label>
                    <input class="form__input" type="text" name="nombre" id="nombre" placeholder="Nombre y apellido">
                </div>
                <div class="form__box">
                    <label class="form__label" for="email"></label>
                    <input class="form__input" type="text" name="email" id="email" placeholder="email">
                </div>
                <div class="form__box">
                    <label class="form__label" for="password"></label>
                    <input class="form__input" type="password" name="password" id="password" placeholder="Contraseña">
                </div>
                <div class="form__box">
                    <label class="form__label" for="reingrese contraseña"></label>
                    <input class="form__input" type="password" name="reingrese password2" id="password2"
                        placeholder="Reingrese su contraseña">
                </div>
                <div class="form__box">
                    <button class="form__button--cuenta" type="submit">Crear cuenta</button>
                </div>
            </form>
        </div>
        <div class="container__cuentas">
            <div class="form__box__google">
                <button class="form__button--google" type="submit">
                    <h3>Entrar con Google</h6> 
                    <img class="logoGoogle" width="40px" src="/images/googleLogo.png" alt="logoGoogle">
                </button>
                
            </div>
            <div class="form__box">
                <button class="form__button--facebook" type="submit">
                    <h3>Entrar con Facebook</h6> 
                    <img class="logoFacebook" width="40px" src="/images/Facebook.png" alt="logoFacebook">
                </button>
                
            </div>
        </div>
        <div class="form__contact">
            <h5>contactanos</h5>
            <p>e-commerce@greenfood.com.ar</p>
            <p>Argentina</p>
        </div>
        <div>
            <img class="registrar__truck" src="/images/envio-1.png" alt="logoEnvio">
        </div>

    </main>

    <Footer>
        <div class="suscribe__container">
            <h2 class="suscribe__tittle">Suscribete y recibe ofertas exclusivas</h2>
            <input type="text" name="suscription" placeholder="Ingresa tu Email">
        </div>
        <div class="consultas__container">
            <div>
                <h3>Servicio al cliente</h3>
                <p>Preguntas Frecuentes</p>
                <p>Estado de la compra</p>
                <p>Información de envíos</p>
            </div>
            <div>
                <h3>Recursos</h3>
                <p>Promociones y Ofertas</p>
            </div>
            <div>
                <h3>Empresa</h3>
                <p>Sobre Nosotros</p>
                <p>Términos de Privacidad</p>
            </div>
            <div>
                <h3>Seguinos</h3>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href="https://www.facebook.com/profile.php?id=100083228144123"><i
                        class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-twitter"></i></a>
            </div>
        </div>
        <div class="paymethods__container">
            <h3>Medios de pago</h3>
            <div class="cards__container">
                <img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/visa@2x.png"
                    alt="visa_card">
                <img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mastercard@2x.png"
                    alt="mastercard_card">
                <img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/amex@2x.png"
                    alt="americanexpress_card">
                <img src="https://1000marcas.net/wp-content/uploads/2019/12/logo-Paypal.png" alt="paypal_card">
                <img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mercadopago@2x.png"
                    alt="mercadopago_card">
            </div>
        </div>
        <div class="copyright__container">
            <small>2022 Green Food S.A. Todos los derechos reservados ©</small>
        </div>
    </Footer>

</body>

</html>