.adminProfile__main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../images/comida-ingredientes_1220-4884.webp");
    background-size: cover;
}

.adminProfile__section{
    width: 80%;
    height: 80%;
    background-color: var(--color-verdeUltraClaro);
    border-radius: 5px;
    box-shadow: 2px 2px 2px var(--color-negro);
}
