.adminProfile__main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../images/comida-ingredientes_1220-4884.webp");
    background-size: cover;
}

.adminProfile__section{
    width: 80%;
    height: 80%;
    background-color: var(--color-verdeClaro);
    border-radius: 5px;
    box-shadow: 2px 2px 2px var(--color-negro);
}

.adminProfile__section h1 {
    padding: 20px;
    text-align: center;
}

.adminProfile__imgPerfil {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding-top: 10px;
}

.adminProfile__imgPerfil img {
    display: flex;
    width: 200px;
    padding-top: 15px;

}

.adminProfile__imgPerfil input {
    color: black;
    font-size: 10px;
    padding-top: 15px;
    margin: 0 auto
}

.adminProfile__form{
    background-color: var(--color-verdeClaro);
}

.adminProfile__form__flex--checkbox {
    font-size: 12px;
}

.adminProfile__form__flex--checkbox.radio {
    font-size: 12px;
}

.adminProfile__form__l--container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}