.adminProfile{
    display: flex;
    flex-direction: column;
}

.adminProfile__main{
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../images/comida-ingredientes_1220-4884.webp");
    background-size: cover;
    flex-direction: column;
    padding: 15px;
}

.adminProfile__section{
    background-color: var(--color-verdeClaro);
    border-radius: 5px;
    box-shadow: 2px 2px 2px var(--color-negro);
}

.adminProfile__section h1 {
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
}

.adminProfile__imgPerfil {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding-bottom: 10px;
    flex-direction: column;
    margin-top: 15px;
}

.adminProfile__imgPerfil img {
    display: flex;
    width: 200px;
}

.adminProfile__imgPerfil input {
    color: black;
    font-size: 10px;
    padding-top: 5px;
    margin: 0 auto
}

.adminProfile__form{
    background-color: var(--color-verdeClaro);
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
    border-radius: 5px;
}

.adminProfile__formulario{
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.adminProfile__formulario label {
    padding: 10px;
}

.adminProfile__form__flex--checkbox {
    font-size: 12px;
}

.adminProfile__form__flex--checkbox.radio {
    font-size: 12px;
}

.adminProfile__form__l--container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    padding: 10px;
}

.profile__actionButtons__container {
    display: flex;
    justify-content: right;
    margin-right: 15px;
    padding: 10px;
    gap: 10px;
    margin-bottom: 15px;
}

.profile__cancelar__button {
    background-color: rgba(236, 14, 14, 0.877);
    border-radius: 5px;
    font-family: 'Work Sans', sans-serif;

}

.profile__enviar__button {
    background-color: beige;
    border-radius: 5px;
    font-family: 'Work Sans', sans-serif;
}

.profile__checkbox p {
    font-size: 12px;
}

.profile__cambiar__contraseña {
    background-color: #D8E9A8;
    margin-top: 15px;
    padding-top: 5px;
    padding-bottom: 15px;
    border-radius: 10px;
}

.profile__cambiar__contraseña p {
    font-size: 14px;
    text-align: center;
    padding: 5px;
}

.profile__mostrar__contraseña {
    font-size: 14px;
}
