:root {
    --color-negro: #191A19;
    --color-verdeOscuro: #1E5128;
    --color-verde: #4E9F3D;
}

.registrar__main{
        
    background-image: url('/images/comida-ingredientes_1220-4884.webp');
    *background-image: url("../images/comida-ingredientes_1220-4884.webp");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registrar__main .container__cuentas {
    align-items: center;
}

.registrar__main .registrar__h1 {
    font-size: 18px;
    margin-top: 30px;
    color: #efefef;
}

.registrar__main .form__box {
    flex: auto;
    margin: 10px 0;
    text-align: center;
    color: white;
}

.registrar__main ::placeholder {
    color: grey;
    font-weight: bold;
}

.registrar__main .form__input {
    width: 250px;
    height: 45px;
    border: none;
    border-radius: 10px;
    background-color: #efefef;
    text-align: center;
    margin: 2px 0;
}

.registrar__main .form__button--cuenta {
    color: white;
    background-color: var(--color-verde);
    width: 250px;
    height: 45px;
    padding: 5px;
    font-weight: bolder;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    margin: 5px 0 10px 0;
}

.registrar__main .form__button--google img, .registrar__main .form__button--facebook img{
    width: 10%;
}

.registrar__main .form__button--google h3, .registrar__main .form__button--facebook h3{
    width: 85%;
}

.registrar__main .form__button--google, .registrar__main .form__button--facebook {
    display: flex;
    width: 250px;
    height: 45px;
    font-weight: bolder;
    border-radius: 20px;
    justify-content: center;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    border: none;
}

.registrar__main .logoGoogle {
    background-color: #efefef;
    color: var(--color-negro);
}

.registrar__main .form__button--facebook {
    background-color: #3d5d9d;
    color: white;
}

.registrar__main .registrar__truck {
    display: none;
}

.registrar__main .form__contact {
    display: none;
}

.registrar__main h6 {
    padding: 10px;
    color: red;
}

.registrar__main .abajo img {
    width: 70px;
}

.registrar__main .abajo {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    height: 100%;
    padding: 5px;
}


@media(min-width:768px) {

    .registrar__main .form__input {
        width: 350px;
    }

    .registrar__main .form__button--cuenta,
    .registrar__main .form__button--google,
    .registrar__main .form__button--facebook {
        width: 350px;
    }

    .registrar__main .registrar__truck {
        display: block;
        *background-color: var(--color-verdeUltraClaro);
        width: 150px;
        *position: relative;
        *bottom: 30px;
        *right: 20px;
    }

    .registrar__main .contact {
        display: none;
    }

    .registrar__main .abajo img {
        width: 130px;
    }

    .registrar__main .abajo {
        height: 100px;
    }
}


@media(min-width: 1024px) {


    .registrar__main .registrar__h1{
        height: 50px;
    }

    .registrar__main .form__button--google {
        border-radius: 20px;
    }

    .registrar__main .form__button--facebook {
        border-radius: 20px;
    }

    .registrar__main .form__contact {
        text-transform: uppercase;
        color: grey;
    }
}