<!DOCTYPE html>
<html lang="es">
    <%- include("../partials/head") %> 
<body class="adminProfile">
    <%- include("../partials/header") %> 
    <main class="adminProfile__main">
        <section class="adminProfile__section">
            

        </section>
    </main>
    <%- include("../partials/footer") %> 
</body>
</html>