<!DOCTYPE html>
<html lang="es">
<%- include("../partials/head") %>

    <body class="adminProfile">
        <%- include("../partials/header") %>
            <main class="adminProfile__main">
                <section class="adminProfile__section">
                    <h1>Tu Perfil - Administrador</h1>
                    
                 
                              <!-- <div class="adminProfile__cambiar__contraseña">
                        <p>Cambiar Contraseña</p>
                        <div class="adminProfile__cambiar__contraseña__form__box">
                            <label class="form__label" for="new_password">Nueva Contraseña</label>
                            <input class="form__input" type="text" id="new_password" value="">
                        </div>
                        <div class="adminProfile__cambiar__contraseña__form__box">
                        <label class="form__label" for="new_password_ok">Repetir Contraseña</label>
                        <input class="form__input" type="text" id="new_password_ok" value="">
                    </div> -->
                        </div>
                    </div>
                        </div>
                            <div class="adminProfile__actionButtons__container">
                                <a href="/">
                                    <button class="adminProfile__cancelar__button">Cancelar</button>
                                </a>
                                <a href="/">
                                    <button class="adminProfile__enviar__button">Editar Perfil</button> 
                                </a>
                            </div>
                </section>
            </main>
            <%- include("../partials/footer") %>
    </body>

</html>