<!DOCTYPE html>
<html lang="es">

<%- include("../partials/head")%>

    <body>
        <%- include("../partials/header") %>
            <main>
                <section>
                    <h2 style="margin-bottom:20px;color:black;background-color: rgba(255, 255, 255, 0.5);text-align: center;padding: 10px;">TERMINOS && CONDICIONES</h2>
                    <p style="background-color:rgb(177, 211, 216);padding:20px;margin-bottom: 20px;font-size: 20px;">
                        

                        Los términos y condiciones ("Términos") son un conjunto de términos legales definidos por el
                        propietario de una página web. maEstablecieron los términos y condiciones que rigen las
                        actividades de los visitantes de la página web en dicho sitio web y la relación entre los
                        visitantes del sitio y el propietario del sitio web.
                        Los términos deben definirse de acuerdo con las necesidades específicas y la naturaleza de cada
                        página web. Por ejemplo, una página web que ofrece productos a clientes en transacciones de
                        comercio electrónico requiere términos que son diferentes de los términos de una página web que
                        solo proporciona información.
                        Los Términos son un acuerdo entre el propietario del sitio web y los usuarios de la página web;
                        detallan las políticas y procedimientos realizados por el sitio web. En muchos sentidos, los
                        Términos brindan al propietario de la página web la posibilidad de protegerse de una posible
                        exposición legal.
                        Además, existen obligaciones legales para notificar a los usuarios de página web de tales
                        actividades, y en muchos casos los Términos son el lugar indicado para hacerlo.
                        Por lo tanto, es muy importante y muy recomendable que las páginas web tengan términos claros y
                        completos que se ajusten y adapten al sitio web específico y a tus actividades.
                        Importante:
                        Las explicaciones y la información proporcionadas en este documento son solo explicaciones
                        generales y de alto nivel, información y muestras. No debes confiar en este artículo como
                        asesoramiento legal o como recomendaciones con respecto a lo que realmente debes hacer. Te
                        recomendamos que busques asesoramiento legal para ayudarte a comprender y ayudarte a crear tus
                        Términos.

                    </p>
                    <button style="padding: 20px;border-radius: 5px;margin-left:550px;background-color: rgb(158, 247, 247);font-size: 24px;;"><a href="/users/register" style="color: black;">Acceptar</a></button>
                </section>
            </main>
            <%- include("../partials/footer") %>
    </body>

</html>